<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Glitch!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
         PubNub Channel Log
      </h1>
    </header>

    <main>
      <p>Specify a channel to see a list of messages published to it streamed live:</p>
      <form>
        <input type="text" maxlength="100" placeholder="channel" required>
        <button type="submit">Subscribe</button>
      </form>
      <section class="channel">
      </section>
      <p>
        <b>Live Messages ordered newest on top:</b>
      </p>
    </main>
    <footer>
      <section class="messages">
      </section>
    </footer>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>    
    <script src="https://cdn.pubnub.com/sdk/javascript/pubnub.4.8.0.js"></script>  
    <script src="/client.js"></script>    
  </body>
</html>
